:root {
  --color-primary-light: #f6e399;
  --color-primary: #e2b714;
  --color-primary-dark: #755f0a;
  --color-secondary-light: #84888f;
  --color-secondary: #323437;
  --color-secondary-dark: #1a1b1c;
  --color-text: #d1d0c5;
  --color-tertiary: #ca4754;
  --font-header: "Oswald", sans-serif;
  --font-text: "Source Sans Pro", sans-serif;
}

*,
*::after,
*::before,
*:focus {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; /* makes 1rem to 10px */
}

body {
  background-color: var(--color-secondary);
  font-family: var(--font-text);
  font-size: 3rem;
  color: var(--color-text);
}

.page-title {
  grid-column: 1 / -1;
  background-color: var(--color-primary);
  font-family: var(--font-header);
  color: var(--color-secondary-dark);
  padding: 10px;
  padding-left: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.table-container {
  grid-column: 2 / 5;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
}

.main-table {
  grid-column: 2 / -1;
  grid-template-columns: 100%;
  grid-auto-rows: 46px;
}

.table-row {
  display: flex !important;
  flex-direction: row;
  min-height: 46px;
  max-height: 92px;
}

.table-item {
  font-size: 3rem;
  font-family: var(--font-text);
  font-weight: 300;
  border: var(--color-secondary-light) 1px solid;
  padding: 3px;
  width: 100%;
}

.check-list {
  padding: 3px;
  margin: 3px;
}

.no-display {
  display: none !important;
}

.search-bar {
  grid-column: 4 / 5;
  justify-self: end;
  margin-top: 25px;
}
